<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="teste">
  <link
    name="parking">
    <inertial>
      <origin
        xyz="-0.66241 -0.000176539999999815 3.0257"
        rpy="0 0 0" />
      <mass
        value="1416400" />
      <inertia
        ixx="133990000"
        ixy="-79.0219999998744"
        ixz="-2051700"
        iyy="231040000"
        iyz="490.060000007071"
        izz="346520000" />
    </inertial>
    
    <visual>
      <origin
        xyz="0 0 0.01"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://parking_lot/meshes/parking.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://parking_lot/textures/" />
      </material>
    </visual>

    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://parking_lot/meshes/parking.STL" />
      </geometry>
    </collision>

  </link>
</robot>
